In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [2]:
cities=['London','Berlina','Warsaw','Paris']

In [5]:
citiesSeries=pd.Series(cities)
citiesSeries

0     London
1    Berlina
2     Warsaw
3      Paris
dtype: object

In [6]:
citiesSeries.size

4

In [7]:
citiesSeries.nbytes

32

In [8]:
citiesSeries.is_unique

True

In [9]:
citiesSeries.is_monotonic

False

In [10]:
citiesSeries.index

RangeIndex(start=0, stop=4, step=1)

In [11]:
citiesSeries.values

array(['London', 'Berlina', 'Warsaw', 'Paris'], dtype=object)

In [12]:
citiesSeries.dtype

dtype('O')

In [13]:
citiesSeries.shape

(4,)

In [14]:
citiesSeries.axes

[RangeIndex(start=0, stop=4, step=1)]

In [16]:
monotonicList = [1,2,4,67,99]
monotonicSeries = pd.Series(monotonicList)
monotonicSeries

0     1
1     2
2     4
3    67
4    99
dtype: int64

In [17]:
monotonicSeries.is_monotonic

True