In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [2]:
liczby =[1,5,7,12,599]
licSeries = pd.Series(liczby)
licSeries

0      1
1      5
2      7
3     12
4    599
dtype: int64

In [3]:
licSeries >10

0    False
1    False
2    False
3     True
4     True
dtype: bool

In [6]:
licSeries % 2 == 1

0     True
1     True
2     True
3    False
4     True
dtype: bool

In [7]:
licSeries.where(licSeries > 10).dropna()

3     12.0
4    599.0
dtype: float64

In [8]:
licSeries.where(licSeries % 2 ==1).dropna()

0      1.0
1      5.0
2      7.0
4    599.0
dtype: float64

In [9]:
liczby10 = licSeries > 10

In [10]:
liczby10

0    False
1    False
2    False
3     True
4     True
dtype: bool

In [12]:
liczbyOdd = licSeries % 2 == 1
liczbyOdd

0     True
1     True
2     True
3    False
4     True
dtype: bool

In [14]:
licSeries.where(liczby10 & liczbyOdd)

0      NaN
1      NaN
2      NaN
3      NaN
4    599.0
dtype: float64

In [15]:
licSeries.where(liczby10 & liczbyOdd).dropna()

4    599.0
dtype: float64

In [16]:
licSeries.between(3,12)

0    False
1     True
2     True
3     True
4    False
dtype: bool

In [17]:
licSeries.where(licSeries.between(3,12))

0     NaN
1     5.0
2     7.0
3    12.0
4     NaN
dtype: float64

In [18]:
valuesToShow = licSeries.between(3,12)

In [20]:
licSeries.where(valuesToShow)

0     NaN
1     5.0
2     7.0
3    12.0
4     NaN
dtype: float64