In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [2]:
namesList = ['Albania','Austria','Belarus',
'Belgium','Bulgaria','Croatia','Cyprus','Czech Republic','Denmark','Estonia',
'Finland','France','Germany','Greece','Hungary','Iceland','Ireland','Italy',
'Latvia','Lithuania','Luxembourg','Macedonia','Malta','Montenegro','Netherlands',
'Norway','Poland','Portugal','Romania','Russia','Serbia','Slovenia','Spain', 'Sweden',
'Switzerland','UnitedKingdom','Turkey','Ukraine']

energy2010List = [1947,8347,3564,8369,4560,3814,4623,6348,6328,6506,16483,7736,7264,5318,3876,
51440,5911,5494,3230,3471,16830,3521,4171,5420,7010,24891,3797,4959,2551,
6410,4359,6521,5707,14934,8175,2498,3550,5701]

energy2012List = [2118,8507,3698,7987,4762,3819,4057,6305,6039,6689,15687,7344,7270,5511,3919,
53203,5665,5398,3588,3608,14696,3626,4761,5416,6871,23658,3899,4736,2604,
6617,4387,6778,5573,14290,7886,2794,3641,5452]

In [8]:
namesSeries = pd.Series(namesList)
energy2010Series = pd.Series(energy2010List)
energy2012Series = pd.Series(energy2012List)

In [4]:
mean2010 = energy2010Series.mean()
mean2010

7779.8421052631575

In [9]:
mean2012 = energy2012Series.mean()
mean2012

7706.815789473684

FilterAboveMean2010 = energy2010Series > mean2010

In [10]:
FilterAboveMean2012 = energy2012Series > mean2012

In [12]:
namesSeries.where(FilterAboveMean2012 & FilterAboveMean2012).dropna()

1         Austria
3         Belgium
10        Finland
15        Iceland
20     Luxembourg
25         Norway
33         Sweden
34    Switzerland
dtype: object

In [13]:
BelowMean2010 = energy2010Series < mean2010
BelowMean2012 = energy2012Series < mean2012

In [14]:
namesSeries.where(BelowMean2012 & BelowMean2012).dropna()

0            Albania
2            Belarus
4           Bulgaria
5            Croatia
6             Cyprus
7     Czech Republic
8            Denmark
9            Estonia
11            France
12           Germany
13            Greece
14           Hungary
16           Ireland
17             Italy
18            Latvia
19         Lithuania
21         Macedonia
22             Malta
23        Montenegro
24       Netherlands
26            Poland
27          Portugal
28           Romania
29            Russia
30            Serbia
31          Slovenia
32             Spain
35     UnitedKingdom
36            Turkey
37           Ukraine
dtype: object