In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [2]:
frame = pd.read_csv("./course-files/mcdonalds.csv", usecols=['Item','Category','Serving Size','Calories','TotalFat'])

In [3]:
frame.head()

,Category,Item,Serving Size,Calories,TotalFat
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,13.0
1,Breakfast,Egg White Delight,4.8 oz (135 g),250,8.0
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,23.0
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,23.0

In [4]:
frame.dtypes

Category         object
Item             object
Serving Size     object
Calories          int64
TotalFat        float64
dtype: object

In [6]:
frame.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Data columns (total 5 columns):
Category        260 non-null object
Item            260 non-null object
Serving Size    260 non-null object
Calories        260 non-null int64
TotalFat        260 non-null float64
dtypes: float64(1), int64(1), object(3)
memory usage: 61.7 KB

In [7]:
frame.loc[1,'Serving Size']=np.NaN

In [8]:
frame.head()

,Category,Item,Serving Size,Calories,TotalFat
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,13.0
1,Breakfast,Egg White Delight,NaN,250,8.0
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,23.0
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,23.0

In [10]:
frame.loc[2,'Calories']=np.NaN

In [11]:
frame.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Data columns (total 5 columns):
Category        260 non-null object
Item            260 non-null object
Serving Size    259 non-null object
Calories        259 non-null float64
TotalFat        260 non-null float64
dtypes: float64(2), object(3)
memory usage: 61.6 KB

In [12]:
#frame['Calories'].astype('int')

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [13]:
frame['Calories'].fillna(value=0,inplace=True)

In [14]:
frame.head()

,Category,Item,Serving Size,Calories,TotalFat
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300.0,13.0
1,Breakfast,Egg White Delight,NaN,250.0,8.0
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),0.0,23.0
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450.0,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400.0,23.0

In [16]:
frame['Calories']= frame['Calories'].astype('int')

In [17]:
frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Data columns (total 5 columns):
Category        260 non-null object
Item            260 non-null object
Serving Size    259 non-null object
Calories        260 non-null int32
TotalFat        260 non-null float64
dtypes: float64(1), int32(1), object(3)
memory usage: 9.3+ KB

In [18]:
frame['Category'].value_counts()

Coffee & Tea          95
Breakfast             42
Smoothies & Shakes    28
Beverages             27
Chicken & Fish        27
Beef & Pork           15
Snacks & Sides        13
Desserts               7
Salads                 6
Name: Category, dtype: int64

In [19]:
frame['Category']=frame['Category'].astype('category')

In [20]:
frame.head()

,Category,Item,Serving Size,Calories,TotalFat
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,13.0
1,Breakfast,Egg White Delight,NaN,250,8.0
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),0,23.0
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,23.0

In [22]:
frame.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Data columns (total 5 columns):
Category        260 non-null category
Item            260 non-null object
Serving Size    259 non-null object
Calories        260 non-null int32
TotalFat        260 non-null float64
dtypes: category(1), float64(1), int32(1), object(2)
memory usage: 44.3 KB

In [23]:
frame['Serving Size']=frame['Serving Size'].astype('category')

In [24]:
frame.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Data columns (total 5 columns):
Category        260 non-null category
Item            260 non-null object
Serving Size    259 non-null category
Calories        260 non-null int32
TotalFat        260 non-null float64
dtypes: category(2), float64(1), int32(1), object(1)
memory usage: 39.2 KB