In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [3]:
animals = pd.read_csv("./course-files/sleep_time.csv", index_col='ID')

In [14]:
animals.head()

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
ID,,,,,,,,,,,
1,Cheetah,Acinonyx,carni,Carnivora,lc,12.1,NaN,NaN,11.9,NaN,50.000
2,Owl monkey,Aotus,omni,Primates,NaN,17.0,1.8,NaN,7.0,0.01550,0.480
3,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,NaN,9.6,NaN,1.350
4,Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029,0.019
5,Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.0,0.42300,600.000

In [19]:
IsHerbi = animals['vore'] == 'herbi'
herbi = animals['vore'].where(IsHerbi)

In [20]:
herbi.head(20)

ID
1       NaN
2       NaN
3     herbi
4       NaN
5     herbi
6     herbi
7       NaN
8       NaN
9       NaN
10    herbi
11    herbi
12    herbi
13      NaN
14    herbi
15      NaN
16      NaN
17      NaN
18      NaN
19    herbi
20      NaN
Name: vore, dtype: object

In [22]:
len(herbi)

83

In [23]:
len(herbi.dropna())

32

In [24]:
carni = animals['vore'] == 'carni'

In [26]:
len(animals.where(carni))

83

In [27]:
len(animals.where(carni).dropna())

3

In [28]:
omni = animals.where(animals['vore'] == 'omni')

In [29]:
len(omni)

83

In [30]:
len(omni.dropna())

5

In [33]:
omni.dropna().head(10)

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
ID,,,,,,,,,,,
4,Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029,0.019
17,Lesser short-tailed shrew,Cryptotis,omni,Soricomorpha,lc,9.1,1.4,0.150000,14.9,0.00014,0.005
20,North American Opossum,Didelphis,omni,Didelphimorphia,lc,18.0,4.9,0.333333,6.0,0.00630,1.700
25,European hedgehog,Erinaceus,omni,Erinaceomorpha,lc,10.1,3.5,0.283333,13.9,0.00350,0.770
74,Pig,Sus,omni,Artiodactyla,domesticated,9.1,2.4,0.500000,14.9,0.18000,86.250

In [34]:
omni['sleep_total'].mean()

10.924999999999999

In [39]:
herbi["sleep_total"].mean()

KeyError: 'sleep_total'

In [45]:
animals.query("sleep_total > 14 and vore == 'herbi'")

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
ID,,,,,,,,,,,
3,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,NaN,9.6,NaN,1.350
6,Three-toed sloth,Bradypus,herbi,Pilosa,NaN,14.4,2.2,0.766667,9.6,NaN,3.850
27,Western american chipmunk,Eutamias,herbi,Rodentia,NaN,14.9,NaN,NaN,9.1,NaN,0.071
39,Mongolian gerbil,Meriones,herbi,Rodentia,lc,14.2,1.9,NaN,9.8,NaN,0.053
40,Golden hamster,Mesocricetus,herbi,Rodentia,en,14.3,3.1,0.200000,9.7,0.0010,0.120
44,Round-tailed muskrat,Neofiber,herbi,Rodentia,nt,14.6,NaN,NaN,9.4,NaN,0.266
70,Arctic ground squirrel,Spermophilus,herbi,Rodentia,lc,16.6,NaN,NaN,7.4,0.0057,0.920
72,Golden-mantled ground squirrel,Spermophilus,herbi,Rodentia,lc,15.9,3.0,NaN,8.1,NaN,0.205
76,Eastern american chipmunk,Tamias,herbi,Rodentia,NaN,15.8,NaN,NaN,8.2,NaN,0.112

In [46]:
animals.query("sleep_total > 14 and vore == 'herbi' and bodywt > 1")

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
ID,,,,,,,,,,,
3,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,NaN,9.6,NaN,1.35
6,Three-toed sloth,Bradypus,herbi,Pilosa,NaN,14.4,2.2,0.766667,9.6,NaN,3.85