In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [2]:
fuel = pd.read_csv("./course-files/fuel.csv", low_memory = False, usecols = ['Vehicle ID','Year','Make','Model','Class','Fuel Type','Combined MPG (FT1)'])

In [3]:
fuel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31684 entries, 0 to 31683
Data columns (total 7 columns):
Vehicle ID            31684 non-null int64
Year                  31684 non-null int64
Make                  31684 non-null object
Model                 31683 non-null object
Class                 31683 non-null object
Fuel Type             31683 non-null object
Combined MPG (FT1)    31683 non-null float64
dtypes: float64(1), int64(2), object(4)
memory usage: 1.7+ MB

In [4]:
fuel.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31684 entries, 0 to 31683
Data columns (total 7 columns):
Vehicle ID            31684 non-null int64
Year                  31684 non-null int64
Make                  31684 non-null object
Model                 31683 non-null object
Class                 31683 non-null object
Fuel Type             31683 non-null object
Combined MPG (FT1)    31683 non-null float64
dtypes: float64(1), int64(2), object(4)
memory usage: 8.9 MB

In [5]:
fuel['Year']=fuel['Year'].astype('int')

In [6]:
fuel.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31684 entries, 0 to 31683
Data columns (total 7 columns):
Vehicle ID            31684 non-null int64
Year                  31684 non-null int32
Make                  31684 non-null object
Model                 31683 non-null object
Class                 31683 non-null object
Fuel Type             31683 non-null object
Combined MPG (FT1)    31683 non-null float64
dtypes: float64(1), int32(1), int64(1), object(4)
memory usage: 8.8 MB

In [14]:
fuel['Make'].value_counts()

Chevrolet                           3389
Ford                                2721
Dodge                               2361
GMC                                 2174
Toyota                              1599
                                    ...
ASC Incorporated                       1
London Coach Co Inc                    1
Shelby                                 1
Superior Coaches Div E.p. Dutton       1
Mahindra                               1
Name: Make, Length: 128, dtype: int64

In [16]:
fuel['Make']= fuel['Make'].astype('category')

In [18]:
fuel.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31684 entries, 0 to 31683
Data columns (total 7 columns):
Vehicle ID            31684 non-null int64
Year                  31684 non-null int32
Make                  31684 non-null category
Model                 31683 non-null object
Class                 31683 non-null object
Fuel Type             31683 non-null object
Combined MPG (FT1)    31683 non-null float64
dtypes: category(1), float64(1), int32(1), int64(1), object(3)
memory usage: 6.9 MB

In [19]:
fuel['Model'].value_counts()

F150 Pickup 2WD           194
Truck 2WD                 187
F150 Pickup 4WD           172
Ranger Pickup 2WD         169
Mustang                   156
                         ...
S350D                       1
ActiveHybrid 5              1
Sierra C15 XFE 2WD FFV      1
Montana SV6 AWD             1
C320 FFV (Wagon)            1
Name: Model, Length: 2957, dtype: int64

In [20]:
fuel['Model']= fuel['Model'].astype('category')

In [21]:
fuel['Class']= fuel['Class'].astype('category')

In [22]:
fuel['Fuel Type']=fuel['Fuel Type'].astype('category')

In [23]:
fuel.info(memory_usage = 'deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31684 entries, 0 to 31683
Data columns (total 7 columns):
Vehicle ID            31684 non-null int64
Year                  31684 non-null int32
Make                  31684 non-null category
Model                 31683 non-null category
Class                 31683 non-null category
Fuel Type             31683 non-null category
Combined MPG (FT1)    31683 non-null float64
dtypes: category(4), float64(1), int32(1), int64(1)
memory usage: 1.1 MB

In [24]:
fuel['Combined MPG (FT1)'] = fuel['Combined MPG (FT1)'].astype('float')

In [26]:
fuel.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31684 entries, 0 to 31683
Data columns (total 7 columns):
Vehicle ID            31684 non-null int64
Year                  31684 non-null int32
Make                  31684 non-null category
Model                 31683 non-null category
Class                 31683 non-null category
Fuel Type             31683 non-null category
Combined MPG (FT1)    31683 non-null float64
dtypes: category(4), float64(1), int32(1), int64(1)
memory usage: 1.1 MB