In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [2]:
frame = pd.read_csv("./course-files/mcdonalds.csv", usecols=['Item','Category','Serving Size','Calories','TotalFat'])

In [3]:
color = ['green', 'green','blue','blue','red','red','white']
size = ['S','S','S','M','M','M','L']
gender = ['M','W','M','W','M','W','U']
clothes = pd.DataFrame({'color':color,'size':size,'gender':gender})
clothes

   color size gender
0  green    S      M
1  green    S      W
2   blue    S      M
3   blue    M      W
4    red    M      M
5    red    M      W
6  white    L      U

In [4]:
isColorBlue = clothes['color'] == 'blue'
isColorGreen = clothes['color'] == 'green'
isColorRed = clothes['color'] == 'red'

In [5]:
clothes[isColorBlue | isColorGreen | isColorRed]

   color size gender
0  green    S      M
1  green    S      W
2   blue    S      M
3   blue    M      W
4    red    M      M
5    red    M      W

In [6]:
clothes['color'].isin(['blue','green','red'])

0     True
1     True
2     True
3     True
4     True
5     True
6    False
Name: color, dtype: bool

In [7]:
clothes[clothes['color'].isin(['blue','green','red'])]

   color size gender
0  green    S      M
1  green    S      W
2   blue    S      M
3   blue    M      W
4    red    M      M
5    red    M      W

In [8]:
myColors = clothes['color'].isin(['blue','green','red'])
clothes[myColors]

   color size gender
0  green    S      M
1  green    S      W
2   blue    S      M
3   blue    M      W
4    red    M      M
5    red    M      W

In [9]:
clothes.loc[6, 'size'] = np.NaN
clothes

   color size gender
0  green    S      M
1  green    S      W
2   blue    S      M
3   blue    M      W
4    red    M      M
5    red    M      W
6  white  NaN      U

In [10]:
clothes['size'].notnull()

0     True
1     True
2     True
3     True
4     True
5     True
6    False
Name: size, dtype: bool

In [11]:
hasSize = clothes['size'].notnull()
clothes[hasSize]

   color size gender
0  green    S      M
1  green    S      W
2   blue    S      M
3   blue    M      W
4    red    M      M
5    red    M      W

In [12]:
clothes['size'].isnull()

0    False
1    False
2    False
3    False
4    False
5    False
6     True
Name: size, dtype: bool

In [13]:
sizeUnknown = clothes['size'].isnull()
clothes[sizeUnknown]

   color size gender
6  white  NaN      U

In [14]:
frame.head()

,Category,Item,Serving Size,Calories,TotalFat
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,13.0
1,Breakfast,Egg White Delight,4.8 oz (135 g),250,8.0
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,23.0
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,23.0

In [16]:
CB = frame['Calories'].between(300,400)

In [17]:
frame[CB]

,Category,Item,Serving Size,Calories,TotalFat
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,13.0
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,23.0
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,23.0
20,Breakfast,"Bacon, Egg & Cheese McGriddles with Egg Whites",6.3 oz (178 g),400,15.0
35,Breakfast,Hotcakes,5.3 oz (151 g),350,9.0
37,Breakfast,Sausage Burrito,3.9 oz (111 g),300,16.0
52,Beef & Pork,McDouble,5.2 oz (147 g),380,17.0
58,Chicken & Fish,Premium Grilled Chicken Classic Sandwich,7 oz (200 g),350,9.0
66,Chicken & Fish,McChicken,5.1 oz (143 g),360,16.0
69,Chicken & Fish,Buffalo Ranch McChicken,5.2 oz (148 g),360,16.0
77,Chicken & Fish,Premium McWrap Chicken Sweet Chili (Grilled Ch...,10.3 oz (291 g),380,10.0
83,Chicken & Fish,Filet-O-Fish,5 oz (142 g),390,19.0
85,Salads,Premium Bacon Ranch Salad with Crispy Chicken,9 oz (255 g),380,21.0
90,Snacks & Sides,Chipotle BBQ Snack Wrap (Crispy Chicken),4.6 oz (130 g),340,15.0
92,Snacks & Sides,Honey Mustard Snack Wrap (Crispy Chicken),4.3 oz (123 g),330,15.0
94,Snacks & Sides,Ranch Snack Wrap (Crispy Chicken),4.5 oz (128 g),360,20.0
97,Snacks & Sides,Medium French Fries,3.9 oz (111 g),340,16.0
107,Desserts,Hot Fudge Sundae,6.3 oz (179 g),330,9.0
108,Desserts,Hot Caramel Sundae,6.4 oz (182 g),340,8.0
152,Coffee & Tea,Caramel Latte (Medium),16 fl oz cup,340,10.0
155,Coffee & Tea,Hazelnut Latte (Medium),16 fl oz cup,330,10.0
158,Coffee & Tea,French Vanilla Latte (Medium),16 fl oz cup,330,10.0
162,Coffee & Tea,Latte with Sugar Free French Vanilla Syrup (La...,20 fl oz cup,330,14.0
168,Coffee & Tea,Nonfat Caramel Latte (Large),20 fl oz cup,310,0.5
171,Coffee & Tea,Nonfat Hazelnut Latte (Large),20 fl oz cup,310,0.5
174,Coffee & Tea,Nonfat French Vanilla Latte (Large),20 fl oz cup,300,0.5
178,Coffee & Tea,Mocha (Small),12 fl oz cup,340,11.0
182,Coffee & Tea,Mocha with Nonfat Milk (Medium),16 fl oz cup,330,3.5
183,Coffee & Tea,Mocha with Nonfat Milk (Large),20 fl oz cup,390,4.0
184,Coffee & Tea,Caramel Mocha (Small),12 fl oz cup,320,11.0
185,Coffee & Tea,Caramel Mocha (Medium),16 fl oz cup,390,14.0
188,Coffee & Tea,Nonfat Caramel Mocha (Medium),16 fl oz cup,310,3.5
189,Coffee & Tea,Nonfat Caramel Mocha (Large),20 fl oz cup,370,3.5
190,Coffee & Tea,Hot Chocolate (Small),12 fl oz cup,360,13.0
194,Coffee & Tea,Hot Chocolate with Nonfat Milk (Medium),16 fl oz cup,340,3.5
195,Coffee & Tea,Hot Chocolate with Nonfat Milk (Large),20 fl oz cup,400,3.5
212,Coffee & Tea,Iced Mocha (Medium),16 fl oz cup,350,13.0
216,Coffee & Tea,Iced Mocha with Nonfat Milk (Large),22 fl oz cup,390,6.0
218,Coffee & Tea,Iced Caramel Mocha (Medium),16 fl oz cup,340,13.0
222,Coffee & Tea,Iced Nonfat Caramel Mocha (Large),22 fl oz cup,370,6.0
234,Smoothies & Shakes,Blueberry Pomegranate Smoothie (Large),22 fl oz cup,340,1.0
237,Smoothies & Shakes,Strawberry Banana Smoothie (Large),22 fl oz cup,330,1.0
240,Smoothies & Shakes,Mango Pineapple Smoothie (Large),22 fl oz cup,340,1.0
257,Smoothies & Shakes,McFlurry with Oreo Cookies (Snack),6.7 oz (190 g),340,11.0