In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [3]:
cities=['London','Berlina','Warsaw','Paris']

In [4]:
pd.Series(cities)

0     London
1    Berlina
2     Warsaw
3      Paris
dtype: object

In [5]:
primeNumbers = (2,3,5,7,11,13,17,19)
pd.Series(primeNumbers)

0     2
1     3
2     5
3     7
4    11
5    13
6    17
7    19
dtype: int64

In [6]:
logicalValues = [True, True, False]

In [7]:
pd.Series(logicalValues)

0     True
1     True
2    False
dtype: bool

In [9]:
Spielberg = {'Jaws' : 1975,
             '1941': 1979,
             'Indiana' : 1981,
              'ET' : 1982}

In [10]:
Spielberg

{'Jaws': 1975, '1941': 1979, 'Indiana': 1981, 'ET': 1982}

In [11]:
pd.Series(Spielberg)

Jaws       1975
1941       1979
Indiana    1981
ET         1982
dtype: int64