In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [2]:
fuel = pd.read_csv("./course-files/fuel.csv", low_memory = False, usecols = ['Vehicle ID','Year','Make','Model','Class','Fuel Type','Combined MPG (FT1)'],index_col ='Vehicle ID')

In [3]:
fuel.loc[27681, 'Combined MPG (FT1)']=np.NaN

In [4]:
fuel.head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,NaN
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0

In [5]:
fuel.sort_values(by=['Make','Model'])

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0
28426,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0
27549,1984,AM General,FJ8c Post Office,Special Purpose Vehicle 2WD,Regular,13.0
28425,1984,AM General,FJ8c Post Office,Special Purpose Vehicle 2WD,Regular,13.0
1032,1985,AM General,Post Office DJ5 2WD,Special Purpose Vehicle 2WD,Regular,16.0
...,...,...,...,...,...,...
26294,2009,smart,fortwo coupe,Two Seaters,Premium,36.0
29812,2010,smart,fortwo coupe,Two Seaters,Premium,36.0
30918,2011,smart,fortwo coupe,Two Seaters,Premium,36.0
31064,2011,smart,fortwo electric drive cabriolet,Two Seaters,Electricity,87.0
31065,2011,smart,fortwo electric drive coupe,Two Seaters,Electricity,87.0

In [8]:
fuel.sort_values(by=['Combined MPG (FT1)'],ascending=False)

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
31673,2012,Mitsubishi,i-MiEV,Subcompact Cars,Electricity,112.0
32278,2012,Ford,Focus Electric,Compact Cars,Electricity,105.0
32276,2011,BMW,Active E,Subcompact Cars,Electricity,102.0
30979,2011,Nissan,Leaf,Midsize Cars,Electricity,99.0
30978,2008,MINI,MiniE,Minicompact Cars,Electricity,98.0
...,...,...,...,...,...,...
6413,1990,Lamborghini,Countach,Two Seaters,Premium,7.0
4141,1988,Lamborghini,Countach,Two Seaters,Premium,7.0
2914,1987,Lamborghini,Countach,Two Seaters,Premium,7.0
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,NaN
32106,2012,Mitsubish,NaN,NaN,NaN,NaN

In [9]:
fuel.sort_values(by=['Make','Combined MPG (FT1)'], ascending = [True, False])

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0
28426,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0
1032,1985,AM General,Post Office DJ5 2WD,Special Purpose Vehicle 2WD,Regular,16.0
27549,1984,AM General,FJ8c Post Office,Special Purpose Vehicle 2WD,Regular,13.0
28425,1984,AM General,FJ8c Post Office,Special Purpose Vehicle 2WD,Regular,13.0
...,...,...,...,...,...,...
26294,2009,smart,fortwo coupe,Two Seaters,Premium,36.0
29811,2010,smart,fortwo cabriolet,Two Seaters,Premium,36.0
29812,2010,smart,fortwo coupe,Two Seaters,Premium,36.0
30917,2011,smart,fortwo cabriolet,Two Seaters,Premium,36.0
30918,2011,smart,fortwo coupe,Two Seaters,Premium,36.0

In [11]:
fuel.sort_values(by='Combined MPG (FT1)', na_position = 'first')

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,NaN
32106,2012,Mitsubish,NaN,NaN,NaN,NaN
2914,1987,Lamborghini,Countach,Two Seaters,Premium,7.0
6413,1990,Lamborghini,Countach,Two Seaters,Premium,7.0
5267,1989,Lamborghini,Countach,Two Seaters,Premium,7.0
...,...,...,...,...,...,...
30978,2008,MINI,MiniE,Minicompact Cars,Electricity,98.0
30979,2011,Nissan,Leaf,Midsize Cars,Electricity,99.0
32276,2011,BMW,Active E,Subcompact Cars,Electricity,102.0
32278,2012,Ford,Focus Electric,Compact Cars,Electricity,105.0
31673,2012,Mitsubishi,i-MiEV,Subcompact Cars,Electricity,112.0

In [12]:
fuel.sort_index(by='Vehicle ID')

C:\Users\piotr\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: by argument to sort_index is deprecated, please use .sort_values(by=...)
  """Entry point for launching an IPython kernel.

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
1,1985,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
2,1985,Bertone,X1/9,Two Seaters,Regular,22.0
3,1985,Chevrolet,Corvette,Two Seaters,Regular,17.0
4,1985,Chevrolet,Corvette,Two Seaters,Regular,17.0
5,1985,Nissan,300ZX,Two Seaters,Regular,16.0
...,...,...,...,...,...,...
34762,2011,Lincoln,Navigator Limo. 2WD FFV,Sport Utility Vehicle - 2WD,Gasoline or E85,13.0
34763,2011,Jeep,Grand Cherokee 4WD,Sport Utility Vehicle - 4WD,Regular,18.0
34764,2011,Kia,Sportage 4WD,Sport Utility Vehicle - 4WD,Regular,23.0
34765,2011,Lincoln,MKT Hearse AWD,Sport Utility Vehicle - 4WD,Regular,16.0
34766,2011,Nissan,Murano CrossCabriolet,Sport Utility Vehicle - 4WD,Premium,19.0