In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [2]:
liczby = [1,6,8,12,77]

In [3]:
licSeries = pd.Series(liczby)
licSeries

0     1
1     6
2     8
3    12
4    77
dtype: int64

In [4]:
licSeries > 10

0    False
1    False
2    False
3     True
4     True
dtype: bool

In [5]:
licSeries.where(licSeries > 10)

0     NaN
1     NaN
2     NaN
3    12.0
4    77.0
dtype: float64

In [6]:
licSeries.where(licSeries > 10, other = -1)

0    -1
1    -1
2    -1
3    12
4    77
dtype: int64

In [7]:
licSeries.where(licSeries > 10).dropna()

3    12.0
4    77.0
dtype: float64

In [9]:
licSeries

0     1
1     6
2     8
3    12
4    77
dtype: int64

In [10]:
licSeries.where(licSeries > 10, inplace= True)

In [11]:
licSeries

0     NaN
1     NaN
2     NaN
3    12.0
4    77.0
dtype: float64

In [12]:
licSeries.dropna(inplace = True)

In [13]:
licSeries

3    12.0
4    77.0
dtype: float64

In [14]:
licSeries = pd.Series(liczby)
licSeries

0     1
1     6
2     8
3    12
4    77
dtype: int64

In [15]:
licSeries.where(licSeries > 10, inplace = True).dropna(inplace = True)

AttributeError: 'NoneType' object has no attribute 'dropna'

In [17]:
licSeries.where(licSeries > 10, inplace = True)
licSeries.dropna(inplace =True)

In [18]:
licSeries = pd.Series(liczby)
licSeries

0     1
1     6
2     8
3    12
4    77
dtype: int64

In [19]:
licSeries.filter(items = [0,2,4])

0     1
2     8
4    77
dtype: int64