In [1]:
import pandas as pd
import random as rd

In [4]:
slownik = {'PYT001': 'Airbus 320', 'PYT002':'Boeing 737', 'PYT003':'Airbus 321'}

In [6]:
aircrafts = pd.Series(slownik)

In [7]:
aircrafts

PYT001    Airbus 320
PYT002    Boeing 737
PYT003    Airbus 321
dtype: object

In [8]:
flightsList = []

In [10]:
for i in range(100):
    flightsList.append(rd.choice(aircrafts.index))

In [13]:
#flightsList

In [12]:
flights = pd.Series(flightsList)
flights.head()

0    PYT001
1    PYT002
2    PYT001
3    PYT002
4    PYT001
dtype: object

In [14]:
flights_aircrafts = flights.map(aircrafts)

In [15]:
flights_aircrafts.head()

0    Airbus 320
1    Boeing 737
2    Airbus 320
3    Boeing 737
4    Airbus 320
dtype: object