In [1]:
import pandas as pd
import numpy as np
incidents = pd.read_csv('./course-files/Canadian Railway Crossing Incidents.csv')

In [2]:
incidents.set_index(['Region','EventType'], inplace = True)
incidents.sort_index(inplace = True)

In [3]:
incidents.head()

                                   Public automated  Public passive  Private  \
Region           EventType
Alberta          Accidents                        3               7        2
                 Fatalities                       0               0        0
                 Serious injuries                 0               1        2
British Columbia Accidents                        4               1        0
                 Fatalities                       0               0        0

                                   Farm
Region           EventType
Alberta          Accidents            0
                 Fatalities           0
                 Serious injuries     0
British Columbia Accidents            0
                 Fatalities           0

In [4]:
incidents.loc[("Alberta","Accidents")]

Public automated    3
Public passive      7
Private             2
Farm                0
Name: (Alberta, Accidents), dtype: int64

In [5]:
incidents.loc[("Alberta")]

                  Public automated  Public passive  Private  Farm
EventType
Accidents                        3               7        2     0
Fatalities                       0               0        0     0
Serious injuries                 0               1        2     0

In [6]:
incidents.loc["Alberta"]

                  Public automated  Public passive  Private  Farm
EventType
Accidents                        3               7        2     0
Fatalities                       0               0        0     0
Serious injuries                 0               1        2     0

In [7]:
incidents.iloc[2]

Public automated    0
Public passive      1
Private             2
Farm                0
Name: (Alberta, Serious injuries), dtype: int64

In [8]:
incidents.loc[('Alberta','Accidents')].loc["Public passive"]

7

In [9]:
incidents.loc[('Alberta','Accidents'),'Public passive']

7