In [2]:
import pandas as pd
import numpy as np
incidents = pd.read_csv('./course-files/fuel.csv',usecols = ['Year','Make','Model','Range (FT1)','City Range (FT1)'], )
incidents.set_index(['Year','Make','Model'], inplace = True)
incidents.sort_index(inplace = True)

In [3]:
incidents.head()

                                   Range (FT1)  City Range (FT1)
Year Make       Model
1984 AM General DJ Po Vehicle 2WD          0.0               0.0
                DJ Po Vehicle 2WD          0.0               0.0
                FJ8c Post Office           0.0               0.0
                FJ8c Post Office           0.0               0.0
     Alfa Romeo GT V6 2.5                  0.0               0.0

In [4]:
incidents = incidents.swaplevel(0,1)

In [5]:
incidents.head()

                                   Range (FT1)  City Range (FT1)
Make       Year Model
AM General 1984 DJ Po Vehicle 2WD          0.0               0.0
                DJ Po Vehicle 2WD          0.0               0.0
                FJ8c Post Office           0.0               0.0
                FJ8c Post Office           0.0               0.0
Alfa Romeo 1984 GT V6 2.5                  0.0               0.0

In [7]:
incidents.loc[('Alfa Romeo',1984,'Spider Veloce 2000')]

C:\Users\piotr\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  """Entry point for launching an IPython kernel.

                                    Range (FT1)  City Range (FT1)
Make       Year Model
Alfa Romeo 1984 Spider Veloce 2000          0.0               0.0
                Spider Veloce 2000          0.0               0.0