In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [2]:
pd.read_csv("./course-files/pokemon.csv")

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [3]:
pd.read_csv("./course-files/pokemon.csv",usecols = ['Attack'], squeeze = True)

0       49
1       62
2       82
3      100
4       52
      ...
795    100
796    160
797    110
798    160
799    110
Name: Attack, Length: 800, dtype: int64

In [4]:
pd.read_csv("./course-files/pokemon.csv",usecols = ['Attack', '#'], squeeze = True, index_col = '#')

#
1       49
2       62
3       82
3      100
4       52
      ...
719    100
719    160
720    110
720    160
721    110
Name: Attack, Length: 800, dtype: int64

In [5]:
ser1 = pd.read_csv("./course-files/pokemon.csv",usecols = ['Attack', '#'], squeeze = True, index_col = '#')

In [6]:
ser1[6]

6     84
6    130
6    104
Name: Attack, dtype: int64

In [7]:
ser[5]

NameError: name 'ser' is not defined

In [8]:
ser1[5]

64

In [12]:
ser2 = pd.read_csv("./course-files/pokemon.csv",usecols = ['Name', 'Attack'], squeeze = True, index_col = 'Name')

ser2

In [13]:
ser2.head()

Name
Bulbasaur                 49
Ivysaur                   62
Venusaur                  82
VenusaurMega Venusaur    100
Charmander                52
Name: Attack, dtype: int64

In [14]:
ser2['Charmander']

52

In [16]:
ser2['Ivysaur':'Charmander']

Name
Ivysaur                   62
Venusaur                  82
VenusaurMega Venusaur    100
Charmander                52
Name: Attack, dtype: int64

In [18]:
#ser2.loc[2]

ser2.iloc[2]

In [19]:
ser2.iloc[2]

82