In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [3]:
fortune500 = pd.read_csv("./course-files/Fortune_500_2017.csv", usecols = ['Rank', 'Title'],index_col = ['Rank'] , squeeze = True)

In [4]:
fortune500.head(10)

Rank
1                Walmart
2     Berkshire Hathaway
3                  Apple
4            Exxon Mobil
5               McKesson
6     UnitedHealth Group
7             CVS Health
8         General Motors
9                   AT&T
10            Ford Motor
Name: Title, dtype: object

In [5]:
fortune500.head(-10)

Rank
1                 Walmart
2      Berkshire Hathaway
3                   Apple
4             Exxon Mobil
5                McKesson
              ...
486              Seaboard
487             Essendant
488                Apache
489                Airgas
490        Kelly Services
Name: Title, Length: 490, dtype: object

In [9]:
fortune500[-20:]

Rank
481           Booz Allen Hamilton Holding
482                              Chemours
483    Western & Southern Financial Group
484                              Celanese
485                   Windstream Holdings
486                              Seaboard
487                             Essendant
488                                Apache
489                                Airgas
490                        Kelly Services
491                         Liberty Media
492                      Rockwell Collins
493             Robert Half International
494                             CH2M Hill
495                              Big Lots
496                         Michaels Cos.
497                         Toll Brothers
498                                 Yahoo
499                         Vistra Energy
500                        ABM Industries
Name: Title, dtype: object

In [10]:
fortune500_2 = pd.read_csv("./course-files/Fortune_500_2017.csv", usecols = ['Employees', 'Title'],index_col = ['Title'] , squeeze = True)

In [11]:
fortune500_2

Title
Walmart               2300000
Berkshire Hathaway     367700
Apple                  116000
Exxon Mobil             72700
McKesson                68000
                       ...
Michaels Cos.           31000
Toll Brothers            4200
Yahoo                    8500
Vistra Energy            4431
ABM Industries         110000
Name: Employees, Length: 500, dtype: int64

In [12]:
fortune500_2['Apple']

116000

AttributeError: 'numpy.int64' object has no attribute 'count'