In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [4]:
fuel = pd.read_csv("./course-files/fuel.csv", low_memory = False, usecols = ['Vehicle ID','Year','Make','Model','Class','Fuel Type','Combined MPG (FT1)'])

In [5]:
fuel.head()

,Vehicle ID,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
0,26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
1,27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
2,26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
3,27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
4,27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0

In [6]:
fuel["Make"]

0        Alfa Romeo
1        Alfa Romeo
2        Alfa Romeo
3        Alfa Romeo
4        AM General
            ...
31679    Mitsubishi
31680    Mitsubishi
31681    Mitsubishi
31682    Mitsubishi
31683     Mitsubish
Name: Make, Length: 31684, dtype: object

In [8]:
fuel['Make'].value_counts().head()

Chevrolet    3389
Ford         2721
Dodge        2361
GMC          2174
Toyota       1599
Name: Make, dtype: int64

In [11]:
fuel.loc[1873]

Vehicle ID                      26784
Year                             1984
Make                       Volkswagen
Model                           Jetta
Class                 Subcompact Cars
Fuel Type                     Regular
Combined MPG (FT1)                 23
Name: 1873, dtype: object

In [13]:
fuel.loc[1873, 'Combined MPG (FT1)']

23.0

In [14]:
fuel['Combined MPG (FT1)'].max()

112.0

In [15]:
fuel['Combined MPG (FT1)'].idxmax()

31674

In [16]:
fuel.loc[31674]

Vehicle ID                      31673
Year                             2012
Make                       Mitsubishi
Model                          i-MiEV
Class                 Subcompact Cars
Fuel Type                 Electricity
Combined MPG (FT1)                112
Name: 31674, dtype: object

In [18]:
fuel.loc[fuel['Combined MPG (FT1)'].idxmax()]

Vehicle ID                      31673
Year                             2012
Make                       Mitsubishi
Model                          i-MiEV
Class                 Subcompact Cars
Fuel Type                 Electricity
Combined MPG (FT1)                112
Name: 31674, dtype: object

In [20]:
shortFuel = fuel[['Make','Model']]

In [21]:
shortFuel.head()

         Make               Model
0  Alfa Romeo           GT V6 2.5
1  Alfa Romeo           GT V6 2.5
2  Alfa Romeo  Spider Veloce 2000
3  Alfa Romeo  Spider Veloce 2000
4  AM General   DJ Po Vehicle 2WD