In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [3]:
pok = pd.read_csv("./course-files/pokemon.csv", usecols=['Name'], squeeze = True)

In [4]:
pok[73]

'Machoke'

In [6]:
#pok[64,73]

In [7]:
pok[[64,73]]

64    Arcanine
73     Machoke
Name: Name, dtype: object

In [8]:
pok[2:7]

2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
5               Charmeleon
6                Charizard
Name: Name, dtype: object

In [9]:
pok[795:]

795                Diancie
796    DiancieMega Diancie
797    HoopaHoopa Confined
798     HoopaHoopa Unbound
799              Volcanion
Name: Name, dtype: object

In [11]:
pok[-2:]

798    HoopaHoopa Unbound
799             Volcanion
Name: Name, dtype: object