In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [4]:
salary = pd.read_csv("./course-files/StackOverflowDeveloperSurvey.csv", usecols=['Salary'], squeeze = True).dropna()

In [6]:
salary.head()

2     113750.0
14    100000.0
17    130000.0
18     82500.0
22    100764.0
Name: Salary, dtype: float64

In [7]:
salary.sort_values(ascending=False)

31600    197000.0
27943    195000.0
6743     195000.0
41398    195000.0
1696     195000.0
           ...
2951          0.0
44841         0.0
23907         0.0
23953         0.0
51144         0.0
Name: Salary, Length: 12891, dtype: float64

In [12]:
salary.sort_values(inplace=True)

In [13]:
salary.head()

51144    0.0
23953    0.0
23907    0.0
44841    0.0
2951     0.0
Name: Salary, dtype: float64

In [14]:
salary.sort_index().head()

2     113750.0
14    100000.0
17    130000.0
18     82500.0
22    100764.0
Name: Salary, dtype: float64

In [18]:
maxSalaries = salary.sort_values(ascending=False).head(100)

In [19]:
maxSalaries

31600    197000.0
27943    195000.0
6743     195000.0
41398    195000.0
1696     195000.0
           ...
26473    170000.0
18058    170000.0
1115     170000.0
48222    170000.0
29662    170000.0
Name: Salary, Length: 100, dtype: float64

In [20]:
maxSalaries.mean()

180198.1045586777