In [2]:
import pandas as pd
import numpy as np
from datetime import datetime
from datetime import timedelta
import time

In [3]:
df = pd.read_csv('./course-files/marathon_results_2016.csv', index_col = 'Bib', usecols = ['Bib','40K','Half','Pace','Age','M/F','Country','State','City'])
df.head()

     Age M/F         City State Country     Half      40K     Pace
Bib
5     21   M  Addis Ababa   NaN     ETH  1:06:45  2:05:59  0:05:04
1     26   M         Ambo   NaN     ETH  1:06:46  2:05:59  0:05:06
6     31   M  Addis Ababa   NaN     ETH  1:06:44  2:06:47  0:05:07
11    33   M       Kitale   NaN     KEN  1:06:46  2:06:47  0:05:07
14    23   M      Eldoret   NaN     KEN  1:06:46  2:08:11  0:05:11

In [11]:
df['40K'] = df['40K'].apply(pd.to_timedelta)
df['Half'] = df['Half'].apply(pd.to_timedelta)
df['TotalSeconds'] = df['40K'].apply(lambda x: timedelta.total_seconds(x))
df['HalfSeconds'] = df['Half'].apply(lambda x: timedelta.total_seconds(x))
df.head()

KeyError: '40K'

In [6]:
df = df.pivot_table(index='Age', columns = 'M/F', values ='TotalSeconds')

In [7]:
df.head()

M/F             F             M
Age
18   16050.666667  14554.615385
19   15351.958333  12156.529412
20   13835.931818  12111.100000
21   14681.027027  12408.360465
22   14366.421053  11872.666667

In [8]:
df.reset_index()

M/F  Age             F             M
0     18  16050.666667  14554.615385
1     19  15351.958333  12156.529412
2     20  13835.931818  12111.100000
3     21  14681.027027  12408.360465
4     22  14366.421053  11872.666667
..   ...           ...           ...
60    78           NaN  16833.714286
61    79           NaN  14803.500000
62    80  16211.000000  15755.000000
63    81           NaN  20887.000000
64    83  19471.000000  16550.000000

[65 rows x 3 columns]

In [10]:
df.melt(id_vars ="Age")

KeyError: 'Age'