In [1]:
import pandas as pd

In [3]:
programmers = pd.read_csv("./course-files/StackOverflowDeveloperSurvey2018.csv", low_memory = False, usecols=['ConvertedSalary'], squeeze = True)

In [4]:
programmers.head()

0        NaN
1    70841.0
2        NaN
3        NaN
4    21426.0
Name: ConvertedSalary, dtype: float64

In [5]:
programmers.mean()

95780.86178776571

In [6]:
programmers.median()

55075.0

In [7]:
programmers.std()

202348.21562528735

In [8]:
fortune500 = pd.read_csv("./course-files/Fortune_500_2017.csv", usecols=['Title', 'Employees'], index_col = 'Title', squeeze = True)

In [9]:
fortune500.head()

Title
Walmart               2300000
Berkshire Hathaway     367700
Apple                  116000
Exxon Mobil             72700
McKesson                68000
Name: Employees, dtype: int64

In [11]:
fortune500.idxmax()

'Walmart'

In [13]:
fortune500.max()

2300000

In [14]:
fortune500.idxmin()

'A-Mark Precious Metals'

In [15]:
fortune500.min()

83