In [1]:
import numpy as np
import pandas as pd

In [3]:
suppliers = pd.read_csv('./course-files/northwind-mongo-master/suppliers.csv', usecols = ['SupplierID','CompanyName','City'])

In [4]:
products = pd.read_csv('./course-files/northwind-mongo-master/products_del_2.csv', usecols = ['ProductID','ProductName','SupplierID'])

In [5]:
sup_prod = suppliers.merge(products, on = 'SupplierID', indicator = True)

In [13]:
len(suppliers)

29

In [14]:
len(products)

68

In [15]:
len(sup_prod)

68

In [19]:
sup_prod_left = suppliers.merge(products, on = 'SupplierID', how = 'left', indicator = True)

In [20]:
len(sup_prod_left)

70

In [21]:
filter = sup_prod_left['_merge'] == 'left_only'

In [23]:
sup_prod_left[filter]

,SupplierID,CompanyName,City,ProductID,ProductName,_merge
2,2,New Orleans Cajun Delights,New Orleans,NaN,NaN,left_only
67,27,Escargots Nouveaux,Montceau,NaN,NaN,left_only