In [1]:
import numpy as np
import pandas as pd

In [2]:
mrbean = pd.read_csv('./course-files/mrbean_facebook_statuses_join.csv', usecols = ['status_message_mrbean','status_type','num_likes'])

In [3]:
nasa = pd.read_csv('./course-files/nasa_facebook_statuses_join.csv', usecols = ['status_message_nasa','status_type','num_likes'])

In [4]:
mrbean.head()

                               status_message_mrbean status_type  num_likes
0  It's time for Mr Bean and Teddy to get ready f...       video      16079
1                                                NaN       photo     114008
2                                                NaN       photo     218579
3  Mr Bean is ready to do some shopping but bewar...       video      20338
4                                                NaN       photo     215591

In [5]:
nasa.head()

                                 status_message_nasa status_type  num_likes
0  This morning, the #RockOn mission with student...       photo       5142
1  Pluto's largest moon, Charon, is home to an un...       photo      19074
2  Our Restore-L mission is an endeavor to launch...       photo       7551
3  A new dark vortex was discovered in the atmosp...       photo      24359
4                                                NaN       video       2731

In [7]:
fb = mrbean.append(nasa, sort = True)

In [8]:
fb.head()

,num_likes,status_message_mrbean,status_message_nasa,status_type
0,16079,It's time for Mr Bean and Teddy to get ready f...,NaN,video
1,114008,NaN,NaN,photo
2,218579,NaN,NaN,photo
3,20338,Mr Bean is ready to do some shopping but bewar...,NaN,video
4,215591,NaN,NaN,photo

In [9]:
fb.tail()

,num_likes,status_message_mrbean,status_message_nasa,status_type
758,39355,NaN,You've never seen Pluto like this before! New ...,photo
759,11835,NaN,Our cooperative field study in East Asia advan...,photo
760,15567,NaN,"After spending a #YearInSpace, astronaut Scott...",photo
761,41584,NaN,"Gravitational waves, predicted by Einstein and...",photo
762,12793,NaN,Have you ever used a GPS to help you get somew...,photo

In [10]:
len(nasa)

763

In [11]:
len(mrbean)

56

In [12]:
fb.loc[0]

,num_likes,status_message_mrbean,status_message_nasa,status_type
0,16079,It's time for Mr Bean and Teddy to get ready f...,NaN,video
0,5142,NaN,"This morning, the #RockOn mission with student...",photo

In [13]:
fb = mrbean.append(nasa, sort = True, ignore_index = True)

In [14]:
fb.loc[0]

num_likes                                                            16079
status_message_mrbean    It's time for Mr Bean and Teddy to get ready f...
status_message_nasa                                                    NaN
status_type                                                          video
Name: 0, dtype: object

In [17]:
mrbean.rename({'status_message_mrbean':'status_message'}, axis = 1, inplace = True)

In [18]:
nasa.rename({'status_message_nasa':'status_message'}, axis = 1,inplace = True)

In [19]:
fb = mrbean.append(nasa, sort = True, ignore_index = True)

In [20]:
fb.head(30)

    num_likes                                     status_message status_type
0       16079  It's time for Mr Bean and Teddy to get ready f...       video
1      114008                                                NaN       photo
2      218579                                                NaN       photo
3       20338  Mr Bean is ready to do some shopping but bewar...       video
4      215591                                                NaN       photo
5       23977            Mr. Bean's sweet treat causes him pain!       video
6       21246  Mr Bean's chasing a ray of sunshine!\nhttps://...       video
7       21293  Mr Bean is enjoying the sunshine....that is un...       video
8      190476                                                NaN       photo
9      190857                                                NaN       photo
10      28906  Mr Bean competes with a Royal Guard.  Can he b...       video
11     218235                                                NaN       photo
12      26498  HAPPY GEEK PRIDE DAY! Watch Mr Bean's geeky mo...       video
13      18491  Cooking Sunday lunch? Here's how not to do it!...       video
14     157505                                                NaN       photo
15      11824  Mr Bean shows you how to get that all importan...       video
16      11007  Having sleeping troubles? Let Mr. Bean show yo...       video
17     258111                                                NaN       photo
18      45624  Happy Mother's Day!  Aren't you glad Mr. Bean'...       video
19      56140  Brand New Friday Fun! \nWill Mr Bean get his "...       photo
20      26821  Relive the very best of Mr. Bean's very worst ...       video
21      22036  It's International Dance Day! Mr Bean has got ...       video
22     287368                                    Caption this...       photo
23      32687  Monday mornings, Mr. Bean style!\nhttps://www....       video
24      28880  Happy Earth Day! Mr Bean is doing his bit to l...       video
25     296668                                                NaN       photo
26     128606                                                NaN       photo
27      24409  Mr. Bean demonstrates the correct etiquette wh...       video
28     318173                                                NaN       photo
29      37247  Warning: Don't try this at home!\nhttps://www....       video

In [23]:
df_concat = pd.concat(objs = ['mrbean','nasa'])

TypeError: cannot concatenate object of type '<class 'str'>'; only Series and DataFrame objs are valid