In [1]:
import pandas as pd
import numpy as np

In [3]:
customer_names = pd.read_csv('./course-files/northwind-mongo-master/customers.csv',usecols = ['CustomerID','CompanyName'])

In [4]:
customer_cities = pd.read_csv('./course-files/northwind-mongo-master/customers.csv',usecols = ['CustomerID','Country'])

In [5]:
len(customer_names)

91

In [6]:
len(customer_cities)

91

In [10]:
customer_names.set_index('CustomerID', inplace = True)

KeyError: "None of ['CustomerID'] are in the columns"

In [8]:
customer_cities.set_index('CustomerID',inplace = True)

In [11]:
customer_names.head()

                                   CompanyName
CustomerID
ALFKI                      Alfreds Futterkiste
ANATR       Ana Trujillo Emparedados y helados
ANTON                 Antonio Moreno Taquer?­a
AROUT                          Around the Horn
BERGS                      Berglunds snabbk?¶p

In [12]:
customer_cities.head()

            Country
CustomerID
ALFKI       Germany
ANATR        Mexico
ANTON        Mexico
AROUT            UK
BERGS        Sweden

In [13]:
customer_names.join(customer_cities, on = 'CustomerID')

                                   CompanyName  Country
CustomerID
ALFKI                      Alfreds Futterkiste  Germany
ANATR       Ana Trujillo Emparedados y helados   Mexico
ANTON                 Antonio Moreno Taquer?­a   Mexico
AROUT                          Around the Horn       UK
BERGS                      Berglunds snabbk?¶p   Sweden
...                                        ...      ...
WARTH                           Wartian Herkku  Finland
WELLI                   Wellington Importadora   Brazil
WHITC                     White Clover Markets      USA
WILMK                              Wilman Kala  Finland
WOLZA                           Wolski  Zajazd   Poland

[91 rows x 2 columns]