In [2]:
import pandas as pd
import numpy as np

In [3]:
suppliers = pd.read_csv('./course-files/northwind-mongo-master/suppliers.csv', usecols = ['SupplierID','CompanyName','Country'])

In [4]:
suppliers.head()

   SupplierID                         CompanyName Country
0           1                      Exotic Liquids      UK
1           2          New Orleans Cajun Delights     USA
2           3           Grandma Kelly's Homestead     USA
3           4                       Tokyo Traders   Japan
4           5  Cooperativa de Quesos 'Las Cabras'   Spain

In [5]:
customers = pd.read_csv('./course-files/northwind-mongo-master/customers.csv', usecols = ['CustomerID','CompanyName','Country'])

In [6]:
customers.head()

  CustomerID                         CompanyName  Country
0      ALFKI                 Alfreds Futterkiste  Germany
1      ANATR  Ana Trujillo Emparedados y helados   Mexico
2      ANTON            Antonio Moreno Taquer?­a   Mexico
3      AROUT                     Around the Horn       UK
4      BERGS                 Berglunds snabbk?¶p   Sweden

In [7]:
len(suppliers)

29

In [8]:
len(customers)

91

In [20]:
df_append = suppliers.append(customers, ignore_index = True)

In [22]:
len(df_append)

120

In [21]:
df_append.head(40)

                               CompanyName      Country CustomerID  SupplierID
0                           Exotic Liquids           UK        NaN         1.0
1               New Orleans Cajun Delights          USA        NaN         2.0
2                Grandma Kelly's Homestead          USA        NaN         3.0
3                            Tokyo Traders        Japan        NaN         4.0
4       Cooperativa de Quesos 'Las Cabras'        Spain        NaN         5.0
5                                 Mayumi's        Japan        NaN         6.0
6                             Pavlova Ltd.    Australia        NaN         7.0
7                  Specialty Biscuits Ltd.           UK        NaN         8.0
8                         PB Knäckebröd AB       Sweden        NaN         9.0
9                Refrescos Americanas LTDA       Brazil        NaN        10.0
10             Heli Süßwaren GmbH & Co. KG      Germany        NaN        11.0
11       Plutzer Lebensmittelgroßmärkte AG      Germany        NaN        12.0
12  Nord-Ost-Fisch Handelsgesellschaft mbH      Germany        NaN        13.0
13                 Formaggi Fortini s.r.l.        Italy        NaN        14.0
14                         Norske Meierier       Norway        NaN        15.0
15                       Bigfoot Breweries          USA        NaN        16.0
16                       Svensk Sjöföda AB       Sweden        NaN        17.0
17              Aux joyeux ecclésiastiques       France        NaN        18.0
18             New England Seafood Cannery          USA        NaN        19.0
19                            Leka Trading    Singapore        NaN        20.0
20                              Lyngbysild      Denmark        NaN        21.0
21                     Zaanse Snoepfabriek  Netherlands        NaN        22.0
22                               Karkki Oy      Finland        NaN        23.0
23                              G'day Mate    Australia        NaN        24.0
24                               Ma Maison       Canada        NaN        25.0
25                    Pasta Buttini s.r.l.        Italy        NaN        26.0
26                      Escargots Nouveaux       France        NaN        27.0
27                            Gai pâturage       France        NaN        28.0
28                        Forêts d'érables       Canada        NaN        29.0
29                     Alfreds Futterkiste      Germany      ALFKI         NaN
30      Ana Trujillo Emparedados y helados       Mexico      ANATR         NaN
31                Antonio Moreno Taquer?­a       Mexico      ANTON         NaN
32                         Around the Horn           UK      AROUT         NaN
33                     Berglunds snabbk?¶p       Sweden      BERGS         NaN
34                 Blauer See Delikatessen      Germany      BLAUS         NaN
35               Blondesddsl p?¨re et fils       France      BLONP         NaN
36              B??lido Comidas preparadas        Spain      BOLID         NaN
37                                Bon app'       France      BONAP         NaN
38                   Bottom-Dollar Markets       Canada      BOTTM         NaN
39                           B's Beverages           UK      BSBEV         NaN

In [23]:
supplier2 = suppliers.copy()
customer2 = customers.copy()

In [24]:
supplier2.rename({'SuppliersID' : 'CustomerID'}, axis = 'columns',inplace = True)

In [25]:
supplier2.head()

   SupplierID                         CompanyName Country
0           1                      Exotic Liquids      UK
1           2          New Orleans Cajun Delights     USA
2           3           Grandma Kelly's Homestead     USA
3           4                       Tokyo Traders   Japan
4           5  Cooperativa de Quesos 'Las Cabras'   Spain

In [26]:
supplier2.append(customers)

                           CompanyName  Country CustomerID  SupplierID
0                       Exotic Liquids       UK        NaN         1.0
1           New Orleans Cajun Delights      USA        NaN         2.0
2            Grandma Kelly's Homestead      USA        NaN         3.0
3                        Tokyo Traders    Japan        NaN         4.0
4   Cooperativa de Quesos 'Las Cabras'    Spain        NaN         5.0
..                                 ...      ...        ...         ...
86                      Wartian Herkku  Finland      WARTH         NaN
87              Wellington Importadora   Brazil      WELLI         NaN
88                White Clover Markets      USA      WHITC         NaN
89                         Wilman Kala  Finland      WILMK         NaN
90                      Wolski  Zajazd   Poland      WOLZA         NaN

[120 rows x 4 columns]

In [35]:
df_concat = pd.concat(objs = [supplier2,customers], ignore_index = True)

C:\Users\piotr\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [36]:
len(df_concat)

120

In [37]:
df_concat.head(30)

                               CompanyName      Country CustomerID  SupplierID
0                           Exotic Liquids           UK        NaN         1.0
1               New Orleans Cajun Delights          USA        NaN         2.0
2                Grandma Kelly's Homestead          USA        NaN         3.0
3                            Tokyo Traders        Japan        NaN         4.0
4       Cooperativa de Quesos 'Las Cabras'        Spain        NaN         5.0
5                                 Mayumi's        Japan        NaN         6.0
6                             Pavlova Ltd.    Australia        NaN         7.0
7                  Specialty Biscuits Ltd.           UK        NaN         8.0
8                         PB Knäckebröd AB       Sweden        NaN         9.0
9                Refrescos Americanas LTDA       Brazil        NaN        10.0
10             Heli Süßwaren GmbH & Co. KG      Germany        NaN        11.0
11       Plutzer Lebensmittelgroßmärkte AG      Germany        NaN        12.0
12  Nord-Ost-Fisch Handelsgesellschaft mbH      Germany        NaN        13.0
13                 Formaggi Fortini s.r.l.        Italy        NaN        14.0
14                         Norske Meierier       Norway        NaN        15.0
15                       Bigfoot Breweries          USA        NaN        16.0
16                       Svensk Sjöföda AB       Sweden        NaN        17.0
17              Aux joyeux ecclésiastiques       France        NaN        18.0
18             New England Seafood Cannery          USA        NaN        19.0
19                            Leka Trading    Singapore        NaN        20.0
20                              Lyngbysild      Denmark        NaN        21.0
21                     Zaanse Snoepfabriek  Netherlands        NaN        22.0
22                               Karkki Oy      Finland        NaN        23.0
23                              G'day Mate    Australia        NaN        24.0
24                               Ma Maison       Canada        NaN        25.0
25                    Pasta Buttini s.r.l.        Italy        NaN        26.0
26                      Escargots Nouveaux       France        NaN        27.0
27                            Gai pâturage       France        NaN        28.0
28                        Forêts d'érables       Canada        NaN        29.0
29                     Alfreds Futterkiste      Germany      ALFKI         NaN